*,
*::before,
*::after {
	box-sizing: border-box;
	border-color: hsl(var(--border));
}

html {
	font-family: ui-sans-serif, system-ui, sans-serif;
	-webkit-text-size-adjust: 100%;
}

body {
	background-color: hsl(var(--background));
	color: hsl(var(--foreground));
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
