@import './_fonts.css';
@import '@repo/ui-kit';

:root {
	--header-height: 56px;
	--table-header-height: 51px;
}

html, body, #root {
	@apply h-full;
}

body {
	@apply font-inter text-ssm overflow-hidden text-gray-900;
}

a {
	color: inherit;
}
